# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none
pr:
  branches:
    include:
      - master
pool:
  vmImage: ubuntu-latest
stages:
  - stage: TerraformPlan
    jobs:
      - job: TerraformPlan
        condition: eq(variables['Build.Reason'], 'PullRequest')
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              # Write your commands here
              
              echo 'Running for Pull Request'
  
  - stage: TerraformApply
    jobs:
      - job: TerraformApply
        condition: eq(variables['Build.Reason'], 'PullRequestMerge')
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              # Write your commands here
              
              echo 'Running for Pull Request Merge'

